* {
  margin: 0px;

  border: 1x solid black;
}

.app {
  display: flex;
  height: 100vh;
  margin-top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: block;
  background: rgb(242, 237, 237);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 132, 132);
}
